@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Niramit:ital,wght@0,200;1,500&display=swap');
body{
    margin: 10px;
    
    
    
    
}
.school-card {
    
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  
  .school-card:hover {
    transform: translateY(-5px);
  }
  

  .school-image {
    position: absolute;
    flex: 1;
    margin-top: 15px;
    height: 111px;
    margin-left: 0.7rem;
  }
  
  .school-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 12px;
    
  }
  .school-info {
    
    position: relative;
    padding: 15px;
  }
  
  .buttons, .review-stars {
    padding: auto;
    padding-left: 110px;
    padding-top: 0px;

  }
  .school-name{
    font-family: 'Niramit', sans-serif;
    padding-left: 120px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #07133B;
  }
  .buttons{
    padding-top: 0.5rem;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
  }
  .city-button{
    font-family: 'Niramit', sans-serif;
    color: #07133B;
  }
  

  .favorite-button {
    font-family: 'Niramit', sans-serif;
  }
  
  .favorite-button {
    color: #07133B;

  }
  .city-button{
    padding: 10px 10px 10px 10px;
    color: #07133B;
  }
  

  .map-icon, .bookmark-icon {
    margin-right: 8px;
    align-items: center;
    color: #07133B;;
    
  }
  .bookmark-icon{
    margin-left: 50px;
  }
  
  .star-icon {
    color: #cccccc;
    font-size: 20px;

  }
  
  .star-icon.filled {
    color: #07133B;;
  }
  
  .review-stars {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 0.65rem;
    padding-top: 0.6rem;
  }

  .school-description {
    margin-top: 0rem;
    margin-left: 0.7rem;
    font-family: 'Niramit', sans-serif;
  }