footer{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, #07133B, #001660);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 160px;
  font-size: 13px;
  line-height: 20px;
  
}
.row{
  width: 85%;
  margin: auto; 
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

}
.col{
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
  flex-basis: 15%;
}
.logo{
  width: 80px;
  margin-bottom: 30px;
}
.col h3{
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id{
  width: fit-content;
  border-bottom: 1px, solid #ccc;
  margin: 20px 0;
}

.col ul li{
  list-style: none;
  margin-bottom: 12px;
}
.col ul li a{
  text-decoration: none;
  color: #fff;
}
.email{
  width: fit-content;
}
.col form{
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;

}
.col form .far{
  font-size: 18px;
  margin-right: 10px;
}
.col form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;

}
.col form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;

}

.social-icons Link{
  text-decoration: none;
  text-emphasis: none;
  color:#ccc;
}
.col form button .send{
  font-size: 18px;
  color: #ccc;
}
.social-icons{
  line-height: 10;
  justify-content: space-around;
}
.social-icons .Fa{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  justify-content: space-between;
  margin-right: 15px;
}
