@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@300;400;500;600;700&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right, #8a99ba, #FFFFFF);
    @apply text-dark-blue
}

.btn {
    @apply mx-1 px-4 py-2 rounded-xl text-dark-blue font-bold
}

.link {
    @apply my-auto font-bold text-dark-blue hover:text-green
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  